#icon-button{
   margin-left: 1px;
   margin-right: 60px;
 
   
}

.MuiButtonBase-root{
   height: 50px;
   width: 50px;
   background-color: transparent;
   
   
}


#imageProduct{
    padding-left: 20px;
    padding-right: 30px;
    margin-left: 30px;
    margin-left: 1px;
    margin-right: 160px;
    margin-bottom: 100px;
    padding-top: 20px;
    height: 140px;
    
}

#productTitle{
    font-size: 1.2rem;
    position: relative;
    left: 100px;
    padding-bottom: 0px;
    bottom: 115px;
    margin-right: 20px;
    margin-left: 103px;
   
    margin-bottom: 10px;
    padding-top: 0px;

}

#productPrice{
    font-size: 1.2rem;
    position: relative;
    left: 100px;
    bottom: 120px;
    margin-right: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
    padding-top: 0px;

}




h1{
    font-size: 1rem;    
    text-align: center;
    padding-top: 50px;
    margin-right: 600px;

}

.col-md-3{
    padding-top: 50px;
    margin-left: 50px;

}


#detailCart{
    margin-right: 1px;
}

#list-group{
    margin-left: 40px;
    padding-top: 20px;
    

}


#productQuantity{
    margin-left: 150px;
    margin-bottom: 50px;
    margin-bottom: 50px;
}




.card{
    margin-left: 30px;
    margin-right: 80px;
   
    margin-bottom: 50px;
    margin-top: 70px;
    top: 80px;

}



#buttonCheckout{
    margin-left: 90px;

}

strong{
    margin-left: 280px;
    margin-top: 60px;
}

#column-product{
    margin-top: 0px;
    padding-top: 5px;
    margin-top: 50px;
}

#closeButton{
    margin-top: 0%;
    bottom: 50px;
   margin-left: 340px;
   margin-top: 10px;
   bottom: 50%;
   padding-bottom: 0%;
 
}

#buttonCheckout{
   display: flex;
   margin-top: 20px;
    width: 190px;
    height: 40px;
    margin-left: 23px;
    padding-left: 50px;
    margin-bottom: 20px;

}
#totalPrice{
    margin-top: 100px;
    font-size: 1.5rem;
    margin-left: 23px;
}