# Ignore .env files
Frontend/eshop/.env

# Ignore node_modules and related files in Frontend
Frontend/eshop/node_modules/
Frontend/.pnp
Frontend.pnp.js

# Ignore specific files in Frontend
Frontend.DS_Store
Frontend.eshop.env.local
Frontend.eshop.env.development.local
Frontend.eshop.env.test.local
Frontend.eshop.env.production.local