#imgProduct{
    margin-top: 30px;
        padding-bottom: 0px;
        padding-right: 1100px;
        padding-left: 60px;
        margin-left: 80px;
        margin-left: 1px;
        margin-bottom: 0px;
        padding-top: 10px;
        height: 100px;
       
        
    }

#col_name{
   
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 200px;
    
   
}

#name{
    font-size: 1.5rem;
    margin-bottom: 90px;
    margin-bottom: 1px;;
    margin-left: 500px;
}
#col_quantity{
   
  
    margin-bottom: 0px;
    margin-right: 50px;
    margin-left: 10px;
    
}
#quantity{
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-bottom: 0px;
    margin-left: 900px;
    padding-bottom: 10
    
}
    
    
